<script>
    function statusChangeCallback(response) {
        console.log("statusChangeCallback");
        console.log(response);

        if (response.status === "connected") {
            runAPI();
        } else if (response.status === "not_authorized") {
            document.getElementById("video_leads_gallery_status").innerHTML = "Please log into this app.";
        } else {
            document.getElementById("video_leads_gallery_status").innerHTML = "Please log into Facebook.";
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : "#FB_ID#",
            cookie     : true,
            xfbml      : true, 
            version    : "v2.8" 
        });

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/#LANG#/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "facebook-jssdk"));

    function runAPI() {
        console.log("Welcome!  Fetching your information.... ");
        FB.api("/me", function(response) {
            console.log("Successful login for: " + response.name);
            document.getElementById("video_leads_gallery_status").innerHTML = "Thanks for logging in, " + response.name + "!";
        });
    }
</script>