<script>    
    function statusChangeCallback(response) {
        if (response.status === "connected") {
            runAPI();
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : "#FB_ID#",
            cookie     : true,
            oauth      : true,
            xfbml      : true, 
            version    : "v2.8" 
        });

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/#LANG#/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "facebook-jssdk"));

    function runAPI() {
        FB.login(
            function(response) {
                if (response.authResponse) {
                   FB.api('/me?fields=id,name,email', function(response) {
                       #AJAX#
                   });
                }
            },
            {scope: 'public_profile,email'}
        );
    }
</script>