<div class="video-leads-gallery-front">
    <a href="javascript:;"></a>
</div>

<div class="video-leads-gallery-middle">
    <h2>Faça seu cadastro e<br/><strong>ASSISTA DE GRAÇA</strong></h2>
    <div class="fb-login-button btn" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
    <div id="video_leads_gallery_status"></div>
    <p>ou faça o cadastro com seu e-mail abaixo:</p>
    <form method="post">
        <input type="hidden" name="e" value="L"/>
        <input type="text" name="video-leads-gallery-name" id="video-leads-gallery-name" placeholder="Nome"/>
        <input type="email" name="video-leads-gallery-email" id="video-leads-gallery-email" placeholder="E-mail"/>
        <button class="button" id="video-leads-gallery-salvar" type="submit">Cadastrar</button>
    </form>
</div>