<div class="video-leads-gallery-front">
    <a href="javascript:;"></a>
</div>

<div class="video-leads-gallery-middle">
    <h2>Assista gratuitamente</h2>
    <p>Por favor faça o login para continuar</p>
    <a href="javascript:;" class="button-fb" onClick="runAPI();"><span class="icon-fb"></span> Facebook</a>
    <div id="video_leads_gallery_status"></div>
    
    <div class="divider">
        <p>ou</p>
        <span></span>
    </div>
    
    <a href="javascript:;" class="button-email" id="video-leads-gallery-enable-email">@ E-MAIL</a>
    
    <form method="post">
        <input type="text" name="video-leads-gallery-name" id="video-leads-gallery-name" placeholder="Nome*"/>
        <input type="email" name="video-leads-gallery-email" id="video-leads-gallery-email" placeholder="E-mail*"/>
        <button class="button-email" id="video-leads-gallery-salvar" type="submit">Cadastrar</button>
    </form>
</div>