/* 
    Created on : 04/01/2017, 15:01:58
    Author     : victor.frossard
*/
.video-leads-gallery-icon{ text-decoration: none;}
.video-leads-gallery-icon:focus{ text-decoration: none; outline: none; box-shadow: none;}
